body {
  font-family: "Arial", sans-serif;
  background-color: #212922;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  /* text-align: center; */
  background-color: #fff7ae;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.password-container {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
}

.primary-btn {
  background-color: #212922;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.primary-btn:hover {
  background-color: rgba(42, 49, 42, 0.938);
}

.copy-btn {
  background-color: #475841;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.copy-btn:hover {
  background-color: #475841ea;
}

/* .options {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212922;
} */

label {
  display: inline-block;
  width: 80%;
  text-align: left;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
}
