* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  background: url("https://images.pexels.com/photos/2233399/pexels-photo-2233399.jpeg?auto=compress&cs=tinysrgb&w=600");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container h1 {
  margin: 20px;
  font-size: 45px;
  color: white;
}

.ramzan-counter {
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.ramzan-counter div {
  margin: 0 10px;
  text-align: center;
  border-radius: 10px;
  /* padding: 10px; */
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

.ramzan-counter div h2 {
  padding: 5px 10px;
  font-size: 42px;
}

.ramzan-counter div span {
  background-color: yellow;
  width: 100%;
  display: inline-block;
  font-size: 14px;
  color: black;
  padding: 2px 5px;
  border-radius: 10px;
}
