* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: #e3f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #2d3540;
  padding: 20px;
  border-radius: 10px;
}

.calculator form input {
  height: 60px;
  width: 60px;
  margin: 2px;
  border-radius: 5px;
  border: 0;
  outline: none;
  background-color: transparent;
  color: white;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

form .display input {
  flex: 1;
  text-align: right;
  font-size: 32px;
  box-shadow: none;
  cursor: auto;
}

.calculator form input.equal {
  width: 130px;
}
